.about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  // background-image: linear-gradient(to bottom, #ddefff 0%, #f2f2f2 100%);
  overflow-x: hidden;
}

.about-me__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 #909293;
  opacity: 0;
  transform: translateY(40px);

  &:hover {
    box-shadow: 0 8px 15px 0 #606263;
    transition: box-shadow 0.5s;
  }
}

.about-me--show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out, box-shadow 0.5s;
}

.about-me__illustration {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../img/portrait.jpg');
  background-position: -25px 0px;
  background-size: 150% 100%;
  background-repeat: no-repeat;
}

.about-me__bio {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
}

.about-me__title {
  font-size: 27px;
  margin-top: 10px;
}

.about-me__list {
  font-size: 12px;
  line-height: 26px;
  list-style-image: url('../img/icon-check.svg');
  padding-left: 0;
}

.about-me__link {
  border-bottom: 1px dashed #000000;

  &:hover,
  &:focus {
    border-bottom: none;
  }
}

.about-me__button {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .about-me {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-me__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 380px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
  }


  .about-me__illustration {
    order: 1;
    width: 50%;
    height: 100%;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: -40px 80%;
    background-size: 150% 100%;
  }

  .about-me__bio {
    order: 3;
    width: 45%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0;
  }

  .about-me__title {
    order: 2;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0;
  }

  .about-me__list {
    font-size: 12px;
    line-height: 26px;
    list-style-image: url('../img/icon-check.svg');
    padding-left: 0;
  }

  .about-me__button {
    order: 4;
    margin-top: 10px;
    margin-left: 0;
  }

}

@media (min-width: $desktop-width) {
  .about-me {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .about-me__wrapper {
    padding-right: 50px;
  }

  .about-me__illustration {
    width: 55%;
    background-position: 0% 75%;
    background-size: 90%;
  }

  .about-me__bio {
    width: 43%;
  }

  .about-me__title {
    font-size: 27px;
    margin-top: 20px;
  }

  .about-me__list {
    font-size: 14px;
  }

  .about-me__button {
    margin-top: 25px;
  }
}




