.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  width: 20%;
}

.menu__link {

}
