.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  text-align: center;
  width: 20%;
}

.menu__link {
  display: inline-block;
  position: relative;
  color: $textcolor;
  padding-bottom: 3px;
  // width: 100%;
  transition: 0.5s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: $textcolor;
    transition: 0.5s;
  }

  &:hover {
    color: $menuhover;
    transition: 0.5s;

    &::after {
      background-color: $menuhover;
      width: 100%;
      transition: 0.5s;
    }
  }
}

.page-header__mini {
  .menu__link {
    font-size: 15px;
    color: #ffffff;

    &::after {
      background-color: #fff;
    }

    &:hover {
      color: $minmenuhover;

      &::after {
      background-color: $minmenuhover;
      }
    }
  }
}
