.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $firmcolor;
  transition: 0.5s;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid black;
  background-color: $firmcolor;
}

.page-header__mini {
  color: #ffffff;
  background-color: $miniheader-color;
  transition: 0.5s;

  .page-header__logo {
    background-color: $miniheader-color;
  }

  .page-header__nav--show {
    transform: translateY(-6px);
    transition: 0.3s;
  }
}

.page-header__wrapper {
  position: relative;
}

.page-header__author {
  padding: 15px;
  padding-left: 70px;
}

.page-header__localisation {
  position: absolute;
  top: 5px;
  left: 0;
}

.page-header__nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: translateY(-300px);
  transition: transform 0.6s;
}

.page-header__nav--show {
  transform: translateY(0);
  transition: transform 0.6s;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header__mini {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__author {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__nav {
    position: static;
    z-index: 0;
    transform: translateY(0);
    width: 90%;
  }

  .page-header__localisation {
    position: static;
    width: 5%;
  }

  .page-header__uk-icon {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {

  .page-header__nav {
    font-size: 18px;
  }

}

