.page-footer {
  color: #ffffff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-footer__wrapper {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-footer__block {
  width: 33%;

  &--social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__link {
  border-bottom: 1px dashed #ffffff;

  &:hover {
    border-bottom: none;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 200px;
  padding: 0;
  margin: 0;
}

.page-footer__social-item {
  display: inline-block;
}
