@media (min-width: $tablet-width) {
    .page-footer {
    // color: #ffffff;
    width: 100%;
    background-color: rgba(120, 150, 175, 1);
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__block {
    width: 50%;

    &--social {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
    }
  }

  .page-footer__link {
    border-bottom: 1px dashed $textcolor;
    transition: 0.3s;

    &:hover {
      border-bottom-color: transparent;
      transition: 0.3s;
    }
  }

  .page-footer__social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .page-footer__social-item {
    display: inline-block;
    margin-left: 40px;
  }

  .page-footer__social-link {
    display: inline-block;
    width: 60px;
    perspective: 200px;

    &:hover > .page-footer__social-icon {
      transform: rotateY(360deg);
      transition: 0.8s;
    }
  }

  .page-footer__social-icon {
    display: inline-block;
    width: 100%;
    height: auto;
    fill: $textcolor;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
  
}

@media (min-width: $desktop-width) {
  .page-footer__social-link {
      width: 85px;
    }
}

