.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__nav {
  width: 80%;
}

.page-header__localisation {
  width: 5%;
}
