.portfolio {
  padding-top: 300px;
  background-image: linear-gradient(to bottom, #f8ffdd 0%, #ddefff 100%);
}

.portfolio__wrapper {
  display: flex;
  justify-content: space-between;
}

.portfolio__slider {
  width: 65%;
}

.portfolio__text {
  width: 30%;
}
