.portfolio {
  padding-top: 300px;
  background-image: linear-gradient(to bottom, #f8ffdd 0%, #ddefff 100%);
  overflow-x: hidden;
}

.portfolio__wrapper {
  display: flex;
  justify-content: space-between;
  transform: translateX(-3000px);
}

.portfolio--show {
  transform: translateX(0);
  transition: transform 2s;
}

.portfolio--hide {
  transform: translateX(-3000px);
  transition: transform 0.2s;
}


.portfolio__slider {
  width: 65%;
}

.portfolio__description {
  width: 30%;
}

.portfolio__title {
  text-align: center;
  margin-top: 0;
}

.portfolio__text {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio__tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio__tool {
  z-index: 1;
  width: 26%;
  height: 135px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}

.portfolio__tool-icon {
  &--sass {
    transform: scale(1.2);
    z-index: -1;
  }

  &--gulp {
    transform: scale(1.4);
    z-index: -1;
  }

  &--ajax {
    transform: scale(1.3);
    z-index: -1;
  }
}
