@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  // background-image: url('../img/bg-carbon.png');
}

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 600;
  // text-transform: uppercase;
  line-height: 24px;
  color: $textcolor;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: 320px;
  // max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

// @media (min-width: $tablet-width) {
//   .container {
//     padding-left: 20px;
//     padding-right: 20px;
//   }

// }

@media (min-width: $desktop-width) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #446080;
  padding: 10px 15px;
  border: 2px solid #446080;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #446080;
    transition: 0.3s;
  }
}

.up-arrow {
  opacity: 0;
  z-index: 10000;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 1px;
  height: 1px;
  border-bottom: 20px solid rgba($color: #000000, $alpha: 0.8);
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.up-arrow--show {
  opacity: 1;
  transition: 0.3s;
}
