@font-face {
  font-weight: normal;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Light.woff2") format("woff2"), url("../fonts/RobotoSlab-Light.woff") format("woff");
}

html {
  box-sizing: border-box;
  // background-color: #f2f2f2;
  // background-image: url('../img/bg-carbon.png');
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  // font-family: "Open Sans", "Tahoma", sans-serif;
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-size: 18px;
  font-weight: 400;
  // text-transform: uppercase;
  line-height: 24px;
  color: $textcolor;
  min-width: 320px;
  background-color: #e4e9eb;

  height: calc(100% + 1px);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: 320px;
  // max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: $firmviolet;
  padding: 10px 15px;
  border: 2px solid $firmviolet;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $firmviolet;
    transition: 0.3s;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.up-arrow {
  opacity: 0;
  z-index: 10000;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 1px;
  height: 1px;
  border-bottom: 15px solid #000000;
  border-top: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.up-arrow--show {
  opacity: 0.8;
  transition: 0.3s;
}

@media (min-width: $tablet-width) {
  .up-arrow {
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
  }

}

@media (min-width: $desktop-width) {
  .up-arrow {
    bottom: 50px;
    right: 50px;
  }

}
