$textcolor: #212121;
$firmcolor: #7896af;
$miniheader-color: rgba(0, 0, 0, 0.5);
// $firmcolor-al: rgba(120, 150, 175, 0.796);
$menuhover: #80DFBC;
$minmenuhover: #80DFEC;
$formcolor: #6B597F;
$formfocus: #6B59C0;
$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 1090px;
